
body {
    margin: 0;
    padding: 0;
}


input[type=checkbox] {
    width: 20px;
}
.table>thead>tr>th {
    padding: 0;
    line-height: 0;
    vertical-align: middle;
}
td {
    overflow:hidden;
    width:100%;
    text-overflow:ellipsis;
}

.navbar {
    position: fixed;
    margin-bottom: 0 !important;
    z-index: 10;
    width: 100%;
    min-height: 50px;
}

.dropdown-menu li{
    z-index: 100;
}

header{
    min-height: 50px;
}
#map {
    width: 100%;
    height:100%;
    border: 1px solid #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}



table tr td:nth-child(1) {
    width: 40px!important;
}
table tr td:last-child {
    width: 160px!important;
}

.tool a{
    float: right;
    margin-right: 10px;
}
.mapfixd{
    position: absolute;
    top: 20px;
    margin:0 auto;
}
.mapfixd{
    width: 100%;
}
.mapserch{
    overflow: hidden;
    max-width: 1100px;
    margin:0 auto;
}
#info {
    z-index: 10;
    color: #155724;
     background-color: rgb(212, 237, 218,.6);
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

}



input {
    border: 1px solid #ccc;
    padding: 7px 5px;
    display: inline-block;
    width: 65%;
    height: 34px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

select {
    border: 1px solid #ccc;
    padding: 7px 5px;
    display: inline-block;
    width: 19%;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    float: right;
   margin-right: 5px;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.search—btn {
    float: right;
}
.tool{
    overflow: hidden;
    display: flex;
     flex-direction:row-reverse;
}

table{
    table-layout: fixed;
}
.tablebox{
    position: relative;
    max-height: 500px;
    overflow-y: auto;
}

.tablebox::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.tablebox {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
}
.box1{
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.2)
}
.box2{
    top: 43px;
}
.mapbox{
    height: 450px;position: relative;z-index: 8
}
th{
    background-color:#f2f2f2;
}
th,td{
    min-width: 100px;
    vertical-align:middle!important;
    text-align: center;
}
.searchTh button{
    /*width: 100%;*/
    /*margin-top: 5px;*/
    /*display: block;*/
}
.bigemap-logo{
    display: none;
}



@media (max-width: 768px){
    .searchTh button{
    width: 100%;
    margin-top: 5px;
    display: block;
}


    input{
        width: 100%;
        margin: 5px 0 5px 0;
    }
    .search—btn{
        float: none;
    }
    select{
        width: 50%;
        float: none;
    }
    #info{
        border-radius: 0;
        background-color: rgb(212, 237, 218,.6)
    }
    .tool{
          justify-content:center;
    }
    .tool a{
      width: 40%
    }
    .btn{
        padding: 4px 10px;
        float: right;
    }
    select{
        padding: 4px 5px;
    }
    input{
        height: 30px;
    }
    table{
    table-layout: auto;
}
    .tablebox{
       overflow-y: auto;
       overflow-x:auto;
       min-height: 120px;
    }
    .search_detail_child,.delete_data_child{
        width: 100%;
        margin-top: 5px;
        display: block;
    }
    .box2{
    top: 82px;
    }
    .mapbox{
        height: 370px;
    }

    th,td{
        padding: 4px!important;
        font-size: 12px!important;
    }
}
.box1{
    position: absolute;
}
@media (min-width: 992px){
    body{
        overflow: hidden;
    }
    .box1{
        position: fixed;
    }
}