<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>外贸开发系统-登录</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400"
          rel="stylesheet">

    <link rel="stylesheet" href="/static/assets/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/assets/fonts/ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/assets/css/slick.css">
    <link rel="stylesheet" href="/static/assets/css/slick-theme.css">

    <link rel="stylesheet" href="/static/assets/css/helpers.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/landing-2.css">
</head>


<body background="/static/img/12222.jpg" data-spy="scroll" data-target="#pb-navbar" data-offset="200"
      oncontextmenu="return false;" onselectstart="return false">
<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar" style="]padding-top: 0px;">
    <div class="container" style="max-width: 100%">
        <a class="navbar-brand" target="_blank" href="http://sstrade.net/"><img src="/static/assets/images/blogo.png"
                                                                                style="max-width: 200px;"></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar"
                aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">

                    <a class="btn " style="font-size: 20px;font-weight: 400!important;" target="_blank"
                       href="http://sstrade.net/">Website</a></li>
                &nbsp;
                <li class="nav-item">
                    <a class="btn " style="font-size: 20px;font-weight: 400!important;" target="_blank"
                       href="">Version</a></li>
                <!-- 		<li class="nav-item"><a class="nav-link" href="#section-reviews"></a></li>
                        <li class="nav-item"><a class="nav-link" href="#section-pricing"></a></li>
                        <li class="nav-item"><a class="nav-link" href="#section-faq"></a></li> -->
                <!-- <li class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" href="" target="_blank"><span class="pb_rounded-4 px-4">Get Started</span></a></li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
<!-- <section class="pb_cover_v3 overflow-hidden cover-bg-indigo cover-bg-opacity text-left pb_gradient_v1 pb_slant-light" id="section-home"> -->
<section class="pb_cover_v3 overflow-hidden  cover-bg-opacity text-left" id="section-home">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5">

            </div>
            <div class="col-md-6">
                <div id="introduce">
                    <p align="center" style="font-weight: 500;color: #fff;font-size:42px ">Are you ready to explore the foreign
                        market?</p>
                    <p align="center" style="font-weight: 500;color: #fff;font-size:42px ">——Let's get started ！</p>
                    {#		<h2 class="heading mb-1" style="font-weight: 700">Are you ready to explore the foreign market?</h2>#}
                    {#		<h3 class="heading mb-1"></h3>#}
                    <div class="sub-heading">
                        <p class="mb-4"></p>
                        <!-- <p class="mb-5"><a class="btn btn-success btn-lg pb_btn-pill smoothscroll" href="#section-pricing"><span class="pb_font-14 text-uppercase pb_letter-spacing-1">See Pricing</span></a></p> -->
                    </div>
                </div>
                <div class=" relative align-self-center" style="width: 100%">
                    <form class="bg-white rounded pb_form_v1">
                        {% csrf_token %}
                        <h2 class="mb-4 mt-0 text-center">Foreign trade development system</h2>
                        <div class="form-group">
                            <input type="text" class="form-control pb_height-50 reverse" placeholder="用户名"
                                   id="username">
                        </div>
                        <div class="form-group">
                             <input type="password" class="form-control pb_height-50 reverse" placeholder="密码"
                                   id="password">
                        </div>
                        <div class="form-group">
                            <input id="login_btn" type="button" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue"
                                   onclick="login()" value="Login">
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    </div>
</section>
<!-- END section -->

<style type="text/css">
    footer {
        background-color: #f2f4f9
    }

    .single-footer-widget {
        padding-top: 20px;
    }

    .single-footer-widget h5 {
        color: #333;
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 600;
    }

    .single-footer-widget p {
        font-size: 14px;
        margin-bottom: 0px;
        color: #000;
    }

    .footer-social a {
        padding-right: 25px;
    }

    .footer-social a i {
        color: #1d82ff;
    }

    .footer-text {
        text-align: center;
        font-size: 14px;
        margin: 0px;
        padding: 1rem 0 1rem 0;
        color: #fff;
        background-color: #1d82ff;
    }

    .footer-text:before {
        /* background: #665fee; */
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
        /* FF3.6-15 */
        /* background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%); */
        /* Chrome10-25,Safari5.1-6 */
        background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
        background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);

    }
</style>

<script src="/static/assets/js/jquery.min.js"></script>

<script src="/static/assets/js/popper.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/slick.min.js"></script>
<script src="/static/assets/js/jquery.mb.YTPlayer.min.js"></script>

<script src="/static/assets/js/jquery.waypoints.min.js"></script>
<script src="/static/assets/js/jquery.easing.1.3.js"></script>

<script src="/static/assets/js/main.js"></script>

<script src="/static/js/jquery-3.5.1.min.js"></script>
<script>

    $("#login_btn").click(function () {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        console.log(username);
        console.log(password);
         $("#login_btn").prop('disabled',true)
        $.ajax({
            url: '/login_check/',
            type: 'post',
            async:false,
            data: "username=" + username + "&password=" + password + "&csrfmiddlewaretoken=" + "{{ csrf_token }}",
            success: function (ret) {
                if (ret.status == 1) {
                    location.href = '/index/'
                } else if (ret.status == 0) {
                    var flag = confirm(ret.msg + ',确认登录会下线其他终端用户（最早登录的终端），确认吗？')
                    if (flag) {
                        $.ajax({
                            url: '/offline/',
                            type: 'post',
                            async:false,
                            data: "username=" + username + "&password=" + password + "&csrfmiddlewaretoken=" + "{{ csrf_token }}",
                            success: function (ret) {
                                if (ret.code == 1) {
                                    alert('下线成功，点击跳转')
                                    location.href = '/index/'
                                } else {
                                    var flag3 = confirm('下线单个终端失败，是否下线该用户所有终端？（其他登录终端将全部下线）')
                                    if (flag3) {
                                        var cname = ret.username;
                                        $.ajax({
                                            url: '/logout_all_cuser/?username=' + cname,
                                            type: 'get',
                                            async:false,
                                            success: function (ret) {
                                                alert('下线成功，请重新登录！')
                                               $("#login_btn").prop('disabled', false)
                                            }
                                        })
                                    } else {
                                           $("#login_btn").prop('disabled', false)
                                    }
                                }
                            }
                        })
                    } else {
                        alert(ret.msg)
                        $("#login_btn").prop('disabled',false)
                    }


                } else {
                    alert(ret.msg)
                     $("#login_btn").prop('disabled',false)
                }
            }
        })
    })
    function login() {

    }
</script>

</body>
</html>